.supreme img {
    width: 180px; 
    height: auto; 
}

body {
    margin: 0;
    padding: 0; 
    background-attachment: fixed;
    background-image: url('https://i.postimg.cc/L5gWtcqB/2020-FW-bridge.gif'); 
    background-size: cover;
    background-repeat: no-repeat;

}

li{color: white;
  list-style: none;
    padding-top: 10px;;
    font-family: 'Courier New', Courier, monospace;
  }
    
